/* Styles for usic Catalog, 2013 robert */

/* Browser RESET css */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
a {text-decoration: none;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}

.container{text-align: center; font-family: Tahoma, Helvetica, sans-serif;}
h1{font-size: 2em; color: orange; margin: 30px;}
h2{color: orange; margin-bottom: 10px;}
a{color: orange; font-family: Lato; font-weight: bold;}

.container {max-width: 640px; min-width: 252px; margin: auto;}
section{display: inline-block; width: 100%;}

.main-form{display: inline-block; width: 100%;}

#name{
	padding: 5px !important;
	border-radius: 3px !important;
	text-align: left !important;	
	font-size: 1.2em !important;
	width: calc(100% - 12px) !important;
	border: 1px solid rgba(0,0,0,0.13) !important;
	background: rgba(0,0,0,0.01) !important;
}

.select2-choices{
	border-radius: 3px !important;
	text-align: left !important;	
	font-size: 1.1em !important;
	border: 1px solid rgba(0,0,0,0.13) !important;
	background: rgba(0,0,0,0.01) !important;
}
.select2-input{color: black !important;}
.select2-container{	margin-top: 10px !important; width: 100% !important;}
.select2-choices .select2-search-choice {padding: 6px 6px 6px 18px !important;}
.select2-search-choice-close {top: 6px !important;}
.select2-results .select2-highlighted {background: orange !important;}
.select2-drop-active {border: 1px solid rgba(0,0,0,0.13) !important;}

.dropdown{width: 640px !important;}

::-webkit-input-placeholder {color: #999;}
:-moz-placeholder {color: #999; opacity: 1;}
::-moz-placeholder {color: #999; opacity: 1;}
:-ms-input-placeholder {color: #999;}

#dropzone{
	margin: 30px 0;
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.13);
	box-shadow: 0 0 50px rgba(0,0,0,0.13);
	padding: 4px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: left;
}
#dropzone .dropzone {
-webkit-box-shadow: none;
box-shadow: none;
}
.dropzone.dz-clickable {
cursor: pointer;
}
.dropzone {
border: 1px solid rgba(0,0,0,0.03);
min-height: 200px;
-webkit-border-radius: 3px;
border-radius: 3px;
background: rgba(0,0,0,0.03);
padding: 23px;
}
.dropzone {
position: relative;
border: 1px solid rgba(0,0,0,0.08);
background: rgba(0,0,0,0.02);
padding: 1em;
}
.dropzone, .dropzone *, .dropzone-previews, .dropzone-previews * {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.dz-message {position: absolute; top: 50%; left: 50%; margin-top: -25px; margin-left: -133px; text-align: center; color: #aaa;}
.dz-message p{font-size: 23px; margin-bottom: 10px;}
.dz-message span{font-size: 18px;}

.dropzone.dz-started .dz-message {
	display: block;
	opacity: 0;
}

.dz-preview, .dropzone-previews .dz-preview {
-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
font-size: 14px;
}

.dz-preview:hover > .dz-details > .dz-filename{opacity: 1;}
.dz-preview:hover > .dz-details > img{opacity: 0.2;}

.dz-preview, .dropzone-previews .dz-preview {
background: rgba(255,255,255,0.8);
position: relative;
display: inline-block;
margin: 17px;
vertical-align: top;
border: 1px solid #acacac;
padding: 6px 6px 6px 6px;
}

.dz-preview .dz-details, .dropzone-previews .dz-preview .dz-details {
width: 100px;
height: 100px;
position: relative;
background: #ebebeb;
padding: 5px;
margin-bottom: 22px;
}

.dz-preview .dz-details .dz-filename, .dropzone-previews .dz-preview .dz-details .dz-filename {
overflow: hidden;
height: 100%;
opacity: 0;
}

.dz-preview .dz-details .dz-size, .dropzone-previews .dz-preview .dz-details .dz-size {
position: absolute;
bottom: -28px;
left: 3px;
height: 28px;
line-height: 28px;
}

.dz-preview .dz-details img, .dropzone-previews .dz-preview .dz-details img {
position: absolute;
top: 0;
left: 0;
max-width: 100px;
max-height: 100px;
}

.dz-preview.dz-processing .dz-progress, .dropzone-previews .dz-preview.dz-processing .dz-progress {
display: block;
}

.dz-preview .dz-progress, .dropzone-previews .dz-preview .dz-progress {
position: absolute;
top: 100px;
left: 6px;
right: 6px;
height: 6px;
background: #d7d7d7;
display: none;
}

.dropzone .dz-preview.dz-error .dz-progress .dz-upload, .dropzone-previews .dz-preview.dz-error .dz-progress .dz-upload {
background: #ee1e2d;
}

.dz-preview .dz-progress .dz-upload, .dropzone-previews .dz-preview .dz-progress .dz-upload {
position: absolute;
top: 0;
bottom: 0;
left: 0;
width: 0%;
background-color: #8cc657;
}

.dropzone .dz-preview .dz-success-mark, .dropzone-previews .dz-preview .dz-success-mark {
background-position: -268px -163px;
}

.dz-preview .dz-success-mark, .dropzone-previews .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark, .dropzone-previews .dz-preview .dz-error-mark {
display: none;
position: absolute;
width: 40px;
height: 40px;
font-size: 30px;
text-align: center;
right: -10px;
top: -10px;
}

.dropzone .dz-preview .dz-error-message, .dropzone-previews .dz-preview .dz-error-message {
display: block;
opacity: 0;
-webkit-transition: opacity 0.3s ease-in-out;
-moz-transition: opacity 0.3s ease-in-out;
-o-transition: opacity 0.3s ease-in-out;
-ms-transition: opacity 0.3s ease-in-out;
transition: opacity 0.3s ease-in-out;
}

.dz-preview .dz-error-message, .dropzone-previews .dz-preview .dz-error-message {
display: none;
position: absolute;
top: -5px;
left: -20px;
background: rgba(245,245,245,0.8);
padding: 8px 10px;
color: #800;
min-width: 140px;
max-width: 500px;
z-index: 500;
}

.dropzone a.dz-remove, .dropzone-previews a.dz-remove {
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #eee));
background-image: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
background-image: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
background-image: -o-linear-gradient(top, #fafafa 0%, #eee 100%);
background-image: -ms-linear-gradient(top, #fafafa 0%, #eee 100%);
background-image: linear-gradient(top, #fafafa 0%, #eee 100%);
-webkit-border-radius: 2px;
border-radius: 2px;
border: 1px solid #eee;
text-decoration: none;
font: 14px arial;
display: block;
padding: 4px 5px;
text-align: center;
color: #aaa;
margin-top: 26px;
}

#upload{padding: 3px 10px; margin: 12px 0 30px 0; border: 1px solid rgba(0,0,0,0.1); background: rgba(0,0,0,0.02); color: orange; font-size: 1.2em; border-radius: 4px; cursor: pointer;}
#pop-up{z-index: 9001; display: none; width: 400px; background-color: white; border-radius: 5px; border: 1px solid orange;}
#pop-up h2{margin: 20px; font-size: 1.3em;}
#pop-up hr{display: block; height: 1px; border: 0; border-top: 1px solid orange; margin: 0 5px;}
#overlay{
  position: fixed; 
  top: 0px; 
  left: 0px;
  background: #000;
  opacity: 0.7;
  z-index: 9000;
  width: 100%;
  height: 100%;
  display: none;
}

#loadMore{border-radius: 3px; margin-bottom: 20px; padding: 5px 10px; border: 1px solid orange; display: inline-block; color: white; background-color: orange; cursor: pointer;}